@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@800&family=Fuggles&family=Inter:wght@400;600&display=swap');

.frame {
    display: flex;
    justify-content: center;
}

.frame img {
    border: 10px;
}

.about-text {
    text-align: justify;
    margin: 20px auto;
    font-weight: 600;
    width: 90%;
    max-width: 800px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-block: 20px;
}

.page-heading {
    font-family: 'Epilogue', sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-block: 20px;
}

.about-page {
    min-height: 75vh;
    margin-block: 100px;
}

.about-desc {
    margin: 20px auto;
    width: 60%;
}

.about-name {
    margin-block: 20px;
    text-align: center;
}