.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

::placeholder {
    color: #000000;
    font-weight: 800;
}

.divider {
    display: flex;
    gap: 20px;
}

.line {
    width: 20vw;
    border: 1.5px solid #000000;
}

.division {
    font-size: 24px;
    font-weight: 600;
}

.input-div {
    width: 60vw;
}

.input {
    width: 100%;
    min-width: 80px;
    height: 50px;
    padding: 10px;
    margin-block: 5px;
    font-size: 20px;
    outdivider: none;
    border: none;
    border-radius: 10px;
    background: #FFE49F;
}

.textarea {
    height: 100px;
    resize: none;
}

.button {
    height: 50px;
    padding: 10px;
    margin-block: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.button:active {
    background-color: grey;
}

.error-border {
    border: 2px solid red;
    margin-block: 10px 5px;
}

.error-text {
    color: red;
    font-weight: 600;
}

.contact-page
{
    min-height: 70vh;
    margin-block: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    .line {
        width: 30vw;
    }

    .input-div {
        width: 90vw;
    }
}